<h3>Add New User</h3>
<div ng-form name='userForm' novalidate>
	
	<div class='form-group'>
    	<label for='inputUserName'>User Name</label>
    	<input id='inputUserName' class='form-control' type='text' name='userName' ng-model='user.userName' unique-user-name required ng-minlength='5'>
		<span ng-show='!isFormSubmissionAttempted && userForm.userName.$touched && userForm.userName.$error.required'>A user name is required.</span>
		<span ng-show='!isFormSubmissionAttempted && userForm.userName.$touched && userForm.userName.$error.unique'>The user name is unavailable, please use another.</span>
		<span ng-show='!isFormSubmissionAttempted && userForm.userName.$touched && userForm.userName.$error.minlength'>The user name must be at least 5 characters</span>
		<span ng-show='isFormSubmissionAttempted && userForm.userName.$invalid'>The user name must be unique and at least five characters</span> 
	</div>
	
	<div class='form-group'>
		<label for='inputPassword'>Password</label>
    	<input id='inputPassword' class='form-control' type='text' name='passwordHash' ng-model='user.passwordHash' required ng-minlength='8'>
		<!-- No validation on this yet, because the authentication ticket hasn't been done. -->
	</div>
	
	<div class='form-group'>
    	<label for='inputEmail'>Email</label>
		<input id='inputEmail' class='form-control' type='email' name='email' ng-model='user.email'>
		<span ng-show='!isFormSubmissionAttempted && userForm.email.$touched && userForm.email.$error.email'>Invalid email address.</span>
		<span ng-show='isFormSubmissionAttempted && userForm.email.$invalid'>If an email is provided, it must be valid.</span>
	</div>
	
	<div class='form-group'>
		<label for='inputTitle'>Title</label>
		<input id='inputTitle' class='form-control' type='text' name='title' ng-model='user.title' >
	</div>
	
	<div class='form-group'>
		<label for='inputFirstName'>First Name</label>
		<input id='inputFirstName'  class='form-control' type='text' name='firstname' ng-model='user.firstName'>
	</div>
	
	<div class='form-group'>
		<label for='inputLastName'>Last Name</label>
		<input id='inputLastName'  class='form-control' type='text' name='lastname' ng-model='user.lastName'>
	</div>
	
	<div class='form-group'>
		<label  for='inputRole'>User Role</label>
		<select id='inputRole'  class='form-control' name='role' ng-options="option.name for option in userRoles.availableOptions track by option.id" ng-model="userRoles.selectedOption">
		</select>
	</div>
		
	<div class='controls-row'>
        <div class='control-group pull-right'>
            <button class='btn btn-primary' type='button' id='save' ng-click='save()'>Save</button>
		    <button class='btn btn-primary' type='button' id='cancel' ng-click='cancel()'>Cancel</button>
        </div>
    </div>
</div>